<!DOCTYPE html>
<html>
<head>
  <title>A Thousand Words</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body class="<%= controller_name %>_<%= action_name %>">
  <div id="main">
    <%= render partial: "layouts/nav_bar" %>
  </div>
    <div class="container">

      <%= render 'layouts/notices' %>

      <%= yield %>
    </div>
  </div>
</body>
</html>

